.game-page {
    display: none;
    position: relative;
    background-color: rgb(149, 175, 221);
    width: 100%;
    height: 100vh;
    /* background-image: url(/imgs/backgroundimgs/1.avif); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ! players Bases */
.player-base {
    position: absolute;
    max-width: 450px;
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    background-color: green;
    /* border: 2px solid white; */
    border-bottom: none;
}

.player-one {
    max-width: 700px;
    bottom: 0;
    left: 26%;
    transform: translateX(-50%);
}

.player-tow {
    right: 30px;
    top: 32%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    transform-origin: top right;
}

.player-three {
    max-width: 700px;
    top: 0;
    left: 75%;
    transform: translateX(-50%);
    border-bottom: 2px solid white;
    border-top: none;
}

.player-four {
    left: 0px;
    top: -4%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.unocards-container {
    width: 100%;
    padding: 0 10px;
    /* background-color: rgba(55, 255, 0, 0.916); */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
    bottom: -200px;
    transition: .4s linear;

}

.player-three .unocards-container {
    top: -200px;
}
.player-base .alert-sign{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: red;
    position: absolute;
    display: none;
}
.player-one .alert-sign{
    bottom: 160px;
    left: 50%;
}
.player-tow .alert-sign{
    bottom: 160px;
    left: 50%;
}
.player-three .alert-sign{
    top: 160px;
    left: 50%;
}
.player-four .alert-sign{
    bottom: 160px;
    left: 50%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/*! Uno Card style */
.uno-card {
    width: 85px;
    height: 130px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    position: absolute;
    /* left: 0px; */
    /* ~ add the left to make the cards go to each other */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s linear;
    z-index: 10;
    box-shadow: 4px 4px 10px #080808;
}

.player-one .uno-card {
    cursor: pointer;
    bottom: 0px;
    transition: all .2s linear;
}

.player-one .uno-card:hover {
    bottom: 30px;
    transform: scale(1.1);
    z-index: 1111;
}


.player-tow .uno-card {
    bottom: 0px;
}

.player-three .uno-card {
    top: 0px;
}

.player-four .uno-card {
    bottom: 0px;
}

/* .player-four .uno-card::before , 
.player-tow .uno-card::before , 
.player-three .uno-card::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: url(/imgs/unocards/greencolors.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
} */
@keyframes showCard {
    0% {
        bottom: -200px;
    }

    100% {
        bottom: 0px;
    }

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ! players Profiles */
.player-profile {
    position: absolute;
    /* border: 1px solid blue; */
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.player-profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.player-profile h3{
    background-color: black;
    margin-top: 4px;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.player-profile .cards-number{
    max-width: 24px;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-weight: bold;
    background-color: green;
    border: 2px solid white;
    z-index: 11;
    transition: .4s linear;
}
.playerone-profile {
    right: -140px;
    bottom: 5px;
}

.playertow-profile {
    left: 30px;
    transform: rotate(90deg);
    bottom: 200px;
}

.playerthree-profile {
    left: -140px;
    top: 5px;
}

.playerfour-profile {
    left: 13px;
    transform: rotate(-90deg);
    bottom: 200px;
}

.progress-container {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #CCC;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ddd, rgb(255, 64, 0));
    border-radius: 50%;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    transform-origin: center;
    transform: rotate(0deg);
    transition: .5s linear;
    display: none;
}

.circle-image {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    object-fit: cover;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ! playing Area */
.cards-field-container {
    width: 500px;
    height: 250px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    /* border: 1px solid red; */
    /* background-color: #aaa; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards-field-container .current-card {
    width: 95px;
    height: 150px;
    border-radius: 10px;
    /* background-image: url(/imgs/unocards/blue2-min.jpg); */
    background-size: contain;
    background-position: center;
    /* border: 1px solid red; */
    z-index: 111;
    position: relative;
    /* left: 50%; */
    /* top: 50%; */
    /* animation: currentCardAnimaion .3s linear  forwards; */
    box-shadow: 0px 6px 10px #080808;

}



.cards-field-container button {
    position: absolute;
    right: 0;
    padding: 15px;
    bottom: 0;
    background-color: black;
    color: white;
    /* border: none; */
    border: 3px solid white;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* text-shadow: -3px 0px 10px red; */
    cursor: pointer;
}


.cards-field-container .bank-card {
    cursor: pointer;
    width: 80px;
    height: 130px;
    border-radius: 10px;
    background-image: url(/imgs/unocards/_-min.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 50px;
    /* animation: activebankcard 0.3s linear infinite; */
    box-shadow: 0px 6px 10px #080808;



}

.cards-field-container .bank-card-top {
    position: absolute;
    width: 80px;
    height: 130px;
    border-radius: 10px;
    background-image: url(/imgs/unocards/_-min.jpeg);
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    left: 0px;
    bottom: 50px;
}

.cards-field-container .thrown-card {
    width: 95px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(49% - 16px);
    top: calc(50% - 36px);
    /* transform: translate(-50% , -50%); */
    /* border: 1px solid blue; */
    background-color: white;
    z-index: 1111;
    display: none;
    transform: translateX(-25%) translateY(-25%);
}

.rotation-arrow {
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    transform: translate(-50%, -50%);
    border: 10px solid rgba(252, 252, 252, 0.824);
    border-radius: 50%;
    z-index: 111;
    border-top: 10px solid transparent;
    /* border-right: 10px solid transparent; */
    border-bottom: 10px solid transparent;
    /* background-image: url(/imgs/splitedcards/backgroundimgs/imageedit_7_4793496048.png); */
    background-size: cover;
    background-position: center;

}

.rotation-arrow.counter-clockwise {
    animation: counterclockwise 20s linear infinite;
}

@keyframes counterclockwise {
    0% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(0deg);
    }

}
.rotation-arrow.clockwise {
    animation: clockwise 20s linear infinite;
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.choose-color-layer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.764);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 30px;

}
.Choose-color{
    width: 400px;
    height: 400px;
    border: 50%;
    /* border: 10px solid white; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    z-index: 1111;
    gap: 20px;
}
.color{
    border: 10px solid white;
    cursor: pointer;
    transition: .4s ease;
}
.red{
    background-color: #EE1B21;
}
.yellow{
    background-color: #FED913;
}
.green{
    background-color: #186C34;
}
.blue{
    background-color: #035F8A;
}
.choose-color-layer h1{
    font-size: 4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.choosen-color{
    background-color: rgb(255, 217, 0);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */




/* ! placeholder details */
.placeholder-details {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.478);
    position: absolute;
    left: 0px;
    top: 0px;
    /* transform: translate(-50% , -50%); */
    z-index: 1;
}

.details {
    padding: 20px;
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}

.placeholder-details button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.wining-base-shadow{
    animation: winingShadow infinite 5s linear;
}
@keyframes winingShadow {
    0%{
        box-shadow: 10px 5px 30px 10px gold;
    }
    20%{
        box-shadow: 10px 5px 30px 20px gold;
    }
    60%{
        box-shadow: 10px 5px 30px 20px gold;
    }
    100%{
        box-shadow: 10px 5px 30px 10px gold;
    }
    
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.result-placeholer{
    padding: 20px;
    width: 480px;
    height: 500px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translate(-50% , -50%);
    display: none;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
.result-placeholer h1{
    margin-bottom: 40px;
}
.result-placeholer ul{
    list-style: none;
}
.result-placeholer ul li{
    width: 100px;
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
    margin: 20px auto;
    text-transform: capitalize;
    color: red;
    -webkit-text-stroke: 2px white;
}
.result-placeholer button{
    padding: 15px;
    background-color: black;
    color: white;
    border: 3px solid white;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


