




*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;

}
#end{
    /* display: none; */
}


.loading-page{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/imgs/backgroundimgs/LoadingScreen.gif);
    background-color: red;
    background-position: center;
    background-size: cover;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 100px 0;
}